.Footer {
    display: block;
    margin: 8rem auto;
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: #D6C9F2;
    width: fit-content;
    border-radius: 2.25rem;
}

.Footer footer {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #000;
}

.logo {
    transition: all 300ms ease;
}

.logo:hover {
    transform: scale(1.05);
}