.Footer {
    display: block;
    margin: 8rem auto 2rem auto;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 2rem;
    
}

.Footer footer {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #fff;
}

.logo {
    filter: contrast(35%) brightness(180%);
    transition: all 400ms ease;
}

.logo:hover {
    transform: scale(1.05);
    filter: contrast(100%);
}