.spot-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    background-color: #FF4033;
    border-radius: 2rem;
    transition: all 300ms ease;
}

.spot-card:hover {
    transform: scale(1.01);
}

.spot-type-header {
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
    border: none;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
    margin-bottom: auto;
    padding: 1rem 0 0.4rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.02rem;
    transition: all 300ms ease;
}

.spot-type-header:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.card-heading {
    padding: 0;
    min-height: 6rem;
}

.card-heading .spot-name {
    margin-bottom: 0.2rem;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
}

.card-heading .spot-suburb {
    color: #fff;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.card-body .spot-notes {
    color: #fff;
    font-size: 0.9rem;
}

.card-body .spot-tags {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.card-body .spot-tag {
    appearance: none;
    background-color: #FF4033;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.25rem;
    padding: 0.25rem 0.55rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.55rem;
    font-weight: 700;
    transition: all 150ms ease;
}

.spot-tag:hover {
    cursor: pointer;
}

.line {
    margin: 1rem 0;
    opacity: 0.4;
    border-bottom: 0.5px solid #fff;
}

.card-footer {
    margin-top: auto;
    padding: 0 1rem 1rem 1rem;
}

.card-footer .spot-address {
    margin-bottom: 1.5rem;
    opacity: 0.9;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
}

.spot-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem;
    color: #FF4033;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 800;
    transition: all 100ms ease;
}

.spot-link:hover {
    color: #303030;
}