.spot-card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    border-radius: 2rem;
    transition: all 300ms ease;
}

.libraries {
    background-color: var(--secondary-color);
    color: #fff;
}

.student-spaces, .community-hubs, .cultural-centres {
    background-color: #e1d5f9;
    color: #1b1b1b;
}

.parks {
    background-color: var(--accent-color);
    color: #1b1b1b;
}

.public-spaces {
    background-color: var(--accent-two);
    color: #fff;
    border-bottom: 0.075rem dashed rgba(255, 255, 255, 0.3);
}

.spot-card:hover {
    transform: scale(1.01);
}

.spot-type-header {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
    margin-bottom: auto;
    padding: 1rem 0 0.4rem;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05rem;
    transition: all 300ms ease;
}

.spot-type-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

:is(.parks, .community-hubs, .cultural-centres, .student-spaces) .spot-type-header {
    background-color: rgba(0, 0, 0, 0.08);
}

:is(.parks, .community-hubs, .cultural-centres, .student-spaces) .spot-type-header:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.card-heading {
    padding: 0;
    min-height: 6rem;
}

.card-heading .spot-name {
    margin-bottom: 0.2rem;
    font-size: 1.75rem;
    font-weight: 800;
}

.card-heading .spot-suburb {
    appearance: none;
    border: none;
    background: none;
    opacity: 0.8;
    padding: 0;
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.spot-suburb:hover {
    cursor: pointer;
}

.card-body .spot-notes {
    font-size: 0.9rem;
}

.card-body .spot-tags {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.card-body .spot-tag {
    appearance: none;
    background: rgba(255, 255, 255, 0.08);
    border: 0.75px solid currentColor;
    border-radius: 0.35rem;
    padding: 0.25rem 0.55rem;
    text-transform: uppercase;
    font-size: 0.55rem;
    font-weight: 700;
    color: inherit;
    transition: all 150ms ease;
}

:is(.parks, .community-hubs, .cultural-centres, .student-spaces) .spot-tag {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.08)
}

.spot-tag:hover {
    cursor: pointer;
}

.line {
    margin: 1rem 0;
    opacity: 0.4;
    border-bottom: 0.5px solid currentColor;
}

.card-footer {
    margin-top: auto;
    padding: 0.75rem 1rem 1rem 1rem;
}

.card-footer .spot-address {
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}

.spot-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem;
    color: #474747;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 100ms ease;
}

.spot-link:hover {
    color: #000000;
}