.App {
    display: block;
    margin: 2vh 2vw;
}

.App h4 {
    margin: 2vh;
    text-align: center;
    color: #fff;
}

.scroll-button {
    display: flex;
    margin: 0;
    position: fixed;
    z-index: 1000;
    margin-inline: auto;
    left: 0;
    right: 0;
    width: fit-content;
    bottom: 2rem;
    border-radius: 999px;
    border: 2px solid black;
    padding: 0.5rem 0.5rem;
    transition: all 200ms ease;
}

.scroll-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

@media (width >= 600px) {
    .App {
        margin: 3vh 4vw;
    }
}